[2017-09-09 03:59] tas50 commented on #478
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 03:59] #478 closed

[2017-09-09 04:00] tas50 commented on #111
As of the upcoming Chef 13.4 release we've moved the path resource into the chef-client itself. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm going to close out this issue, and I'd encourage you to try the latest Chef 13 release. If you still have issues

[2017-09-09 04:00] #111 closed

[2017-09-09 04:01] tas50 commented on #176
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #176 closed

[2017-09-09 04:01] tas50 commented on #245
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #245 closed

[2017-09-09 04:01] tas50 commented on #263
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #263 closed

[2017-09-09 04:01] tas50 commented on #353
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #353 closed

[2017-09-09 04:01] tas50 commented on #361
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #361 closed

[2017-09-09 04:01] tas50 commented on #366
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #366 closed

[2017-09-09 04:01] tas50 commented on #407
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #407 closed

[2017-09-09 04:01] tas50 commented on #426
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:01] #426 closed

[2017-09-09 04:02] tas50 commented on #419
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:02] #419 closed

[2017-09-09 04:02] tas50 commented on #368
We've removed the contents of the default recipe altogether so I'm going to close this out now. The latest release shouldn't give you issues.

[2017-09-09 04:02] #368 closed

[2017-09-09 04:03] tas50 commented on #262
As of Chef 13 we've moved the windows_task resource into the chef-client itself. There's been a significant amount of work there to resolve many of the outstanding issues with windows_task in this cookbook. Since we have a much improved codebase included in chef-client now we won't be continuing to work on the resource in this cookbook, and will eventually remove it altogether. At this time I'm go

[2017-09-09 04:03] #262 closed

[2017-09-13 17:40] prsshini commented on #448
I get the same error. how did u guys resolve this? i am stuck with this for a long time..and I am trying to  use pwershell tocreate share.. but I am curious in resolving this to work for me..
metadata.rb
depends 'windows', '~> 3.1.2'

recipe.rb

windows_share 'share' do
  action :create
  path 'C:\\share"
  read_users ['Prod\\abdeef']
end

[2017-09-18 19:36] mcfisch opened #497 "windows_task lacks a description property"
### Cookbook version
3.1.2

### Chef-client version
12.18.31
### Platform Details
Windows 2008+

### Scenario:
Creating a scheduled task in Windows with a description to appear in the management console.

### Steps to Reproduce:
[code]

### Expected Result:
Scheduled task in Windows being created, having a description as specified.

### Actual Result:
Chef-client fails due to non-existent property

[2017-09-18 20:14] tas50 commented on #497
The windows_task resource was integrated into Chef 13 and development on this resource has ended as we've made a large number of improvements to the resource within chef itself. I encourage you to try the resource in the latest Chef release and file a bug against the chef repo itself if this is still an issue.

[2017-09-18 20:14] #497 closed

[2017-09-20 20:42] jakauppila opened #498 "Appeveyor is not passing"
Just wanted to open up an issue on the fact that Appveyor is currently not passing on master. I've been planning on tackling a number of open issues, but haven't had a reliable way to test.

It appears to be a WinRM bug? Not sure who needs to be involved.

[2017-10-01 14:56] Defilan commented on #476
Not to be an echo, but this is also happening in 3.1.3

[2017-10-03 18:26] iennae commented on #474
If this is still a problem, please reopen with details. Thanks.

[2017-10-03 18:26] #474 closed

[2017-10-03 19:38] jakauppila commented on #498
@tas50 Any thoughts on this?

[2017-10-06 10:21] fourth-barryleonard opened #501 "Issue with Share"
### Cookbook version

3.1.2

### Chef-client version

13.3.42

### Platform Details

Windows 2012 R2 on Azure

### Scenario:

Creating a new share with users as full control fails

### Steps to Reproduce:

file.rb recipe:

[code]

Test in /test/integration/barrytest-file/inspec/pester/file_spec.tests.ps1

[code]

### Expected Result:

When you run the recipe full control should be assigned to the

[2017-10-06 20:38] smurawski commented on #501
Share permissions are not the same as file system permissions.  Share permissions allow users access only to the extent that NTFS permissions do.

For example, if the shared folder does not have NTFS permissions for the everyone group, even though full is specified, there would be no ability to create or read files.  Conversely, if everyone had full ntfs permissions, but only read share permission

[2017-10-07 22:07] fourth-barryleonard commented on #501
Hey, thanks for your response. I'm cool with the difference between share and NTFS permissions but NTFS permissions aside here the share itself should have everyone with full control when it's created. When I execute that code the directory and share are created but under the permissions of the share the Everyone group still only has read.

I'd expect the windows_share resource to create the share

[2017-10-08 04:53] iennae commented on #498
We need to fix it. I fixed the cookstyle issues but there is still an issue with this PR https://github.com/chef-cookbooks/windows/pull/499 introduced a bug that is causing the failure.

[2017-10-08 15:59] #468 closed

[2017-10-10 08:22] #370 closed

[2017-10-10 08:23] tas50 commented on #498
There's a few more failures we need to work out. I'm looking into it

[2017-10-16 23:16] ldliy1 opened #507 "Deprecated features used! warning when ysubg windows_zipfile resource"
### Cookbook version
3.1.3

### Chef-client version
13.5.3

### Platform Details
Windows server 2012R2 v6.3 Build 9600

### Scenario:
windows_zipfile 'C:\folder\path' do
  source 'https://linklocation.com/file.zip'
  action :unzip
  not_if {::Dir.exist?('c:\folder')}
end

### Steps to Reproduce:
Try unzip file as per above

### Expected Result:
Expected result is to unzip content, which it does...

[2017-10-17 13:00] krzkowalczyk opened #508 "Windows_feature powered by powershell is not idempotent on win2008r2"
### Cookbook version
3.1.3

### Chef-client version
13.5.3

### Platform Details
Recent version of resource windows_feature running on windows 2008r2

### Scenario:
Installing a Web-Scripting-Tools
[code]
is not idempotent due to usage of unexisting on win2008r2 attribute `InstallState`
`installed?` functions returns false-positive.

In addtition `available?` is wrongly assessed as well.

### Step

[2017-10-17 16:57] #508 closed

[2017-10-17 17:14] #475 closed

[2017-10-17 17:14] tas50 commented on #475
There was just a PR merged that should fix the idempotency of the feature

[2017-10-17 20:06] #210 closed

[2017-10-17 20:06] tas50 commented on #210
Closing since we merged this PR

[2017-11-01 16:34] troyready commented on #501
I'm seeing the same exact same behavior (Server 2012R2 on AWS using only local users)

[2017-11-07 03:07] MattFenner opened #511 "Allow 'run as' user and password to be specified for window_certificate"
It would be great to have the ability to run the windows_certificate resource as another user like you can with execute resources.

this would let you put a certificate into another users store (if you have the username and password).

I imagine it is pretty easy as it is just passing the details through to the embedded powershell script

thanks

[2017-11-18 18:10] whyte624 opened #513 "Advanced sharing permissions are not set"
### Cookbook version
3.4.0

### Chef-client version
13.6.4

### Platform Details
WIndows Server 2012R2

### Scenario:
Creating windows share with

[code]

### Steps to Reproduce:

### Expected Result:
In Server manager and Advanced sharing permission Full access for Administrators

### Actual Result:
Server manager permissions - fine
Advanced sharing permissions on directory has only Read access f

[2017-12-04 19:08] Tech356 commented on #475
For reference, the PR that was merged is #495 and was released in 3.2.0.

[2017-12-07 03:44] baurzhan-konurbayev commented on #513
Should be fixed here https://github.com/chef-cookbooks/windows/pull/515

[2017-12-07 03:46] baurzhan-konurbayev commented on #501
Should be fixed here https://github.com/chef-cookbooks/windows/pull/515

[2017-12-07 04:04] #513 closed

[2017-12-07 04:04] #501 closed

[2017-12-13 23:00] troyready opened #516 "windows_share does not grant users full access permissions"
### Cookbook version
3.4.1

### Chef-client version
12.19.36

### Platform Details
Windows 2012 R2 AWS AMI

### Scenario:
Use the windows_share resource to create a share granting full access to specific local users

### Steps to Reproduce:
Use the windows_share resource with local users specified:

[code]

### Expected Result:
A share with the local users defined as having full access.

### Actua

[2017-12-13 23:14] troyready commented on #516
This is essentially re-opening #501 since the issue is still present for me. Feel free to close this and re-open #501 instead if that would be more appropriate.

For anyone else affected by this in the meantime, I'm working around it by just using PS:
[code]

[2017-12-14 20:02] fourth-barryleonard commented on #501
I have tested the new version and this issue is still present for me as well

[2017-12-14 20:03] fourth-barryleonard commented on #516
Issue is still present for me also

[2017-12-21 21:02] Y29nVCt opened #517 "windows_feature_powershell will not install Windows Features with sources"
### Cookbook version
3.41

### Chef-client version
13.6.4

### Platform Details
Windows Server 2012 R2 using packer template at https://github.com/mwrock/packer-templates

### Scenario:
Install Windows Features using `install_method :windows_feature_powershell`

### Steps to Reproduce:
Converge using this recipe
[code]

### Expected Result:
MSMQ-Server Windows Feature is installed

### Actual Resu

[2017-12-27 21:57] jakauppila commented on #228
I'm working on this right now; what should the resource be called? `windows_user_privilege` ?

There are a number of privileges that can be configured:

**Logon Privileges:**

[code]

**System Admin Privileges:**

[code]

**Service Privileges:**

[code]

**Misc Privileges:**

[code]

https://ss64.com/nt/ntrights.html

[2018-01-04 13:08] martinmosegaard commented on #476
From the referenced issue titles and the changelog, it seems this was fixed in 3.2.0. Is there a reason this issue is still open?

[2018-01-04 18:18] #476 closed

[2018-01-04 18:18] tas50 commented on #476
If anyone is still seeing this in the current release feel free to open this back up. Thanks for pointing this out @martinmosegaard

[2018-01-04 19:27] nicoinnet opened #519 "windows_certificate fails to import certificate under Current User store"
### Cookbook version
3.4.1

### Chef-client version
12.14.77

### Platform Details
Windows 10 Enterprise 2015 LTSB x64 running on Intel(R) Xeon(R) CPU ES-2697A v4 @2.60GHz, 2594 Mhz, 2 Core(s), 2 Logical Processor(s)

### Scenario:
When I try to import a .pfx certificate at Current User/Personal (My) store, chef-client fails with the following error and certificate is not imported:

`Cannot conver

[2018-01-04 19:30] martinmosegaard commented on #476
I have tested it with version 3.4.2.

Before, I got a report that the `windows_certicate` resources were always updated, even if the certificate was already installed (for example running `chef-client` twice).
With the new version, it correctly marks the resources as not updated.

[2018-01-04 20:47] nicoinnet commented on #519
Fixed by commit 96652ca456d87c37937ca8a81b5c725ff603adcc on version 3.4.3.

[2018-01-04 20:47] #519 closed

[2018-01-04 21:17] Defilan commented on #476
@tas50 Thanks for the update, I'll update our cookbook pinning and test this. Hopefully we're out of the woods :)

[2018-01-06 23:09] pauby opened #521 "windows_printer - NoMethodError - undefined method `ipv4_address' for nil:NilClass"
### Cookbook version
3.4.3

### Chef-client version
13.6.4

### Platform Details
Running from Windows 10 workstation. Cookbook is being applied to a **different** Windows 10 workstation (running under Hyper-V)

### Scenario:

Using windows_printer in recipe which gives the error (using kitchen converge):
[code]

### Steps to Reproduce:
The recipes being used is an almost copy of your example:

[co

[2018-01-19 22:34] jmery commented on #521
@pauby I hit this issue and have the fix.  I'll have a PR inbound shortly.

TL;DR The issue is actually with the `windows_printer_port` resource here: https://github.com/chef-cookbooks/windows/blob/96652ca456d87c37937ca8a81b5c725ff603adcc/resources/printer_port.rb#L45-L46.  Those lines needs a little help to better handle the optional `port_name` property.

[2018-01-19 23:26] #521 closed

[2018-02-13 19:32] chrisdrobison opened #526 "No keys found for certificate"
### Cookbook version
3.4.4

### Chef-client version
13.7.16

### Platform Details
AWS Windows Server 2012 R2 and 2016

### Scenario:
Import a PFX into the my local machine store.

### Steps to Reproduce:
This is the recipe:

windows_certificate 'D:\ServiceFabricSetup\servicefabricdevclusterserver.pfx' do
    pfx_password 'password'
    store_name "MY"
end

### Expected Result:
To be able to manage

[2018-02-20 04:01] dpbustos commented on #517
I've reproduced this issue too. It's an issue for features with the source files not available in the OS, these are marked as 'Removed' in the Install State property when you run Get-WindowsFeature.

Simplest fix would be to remove the filtering out of 'Removed' features, in Line 58 of **feature_powershell.rb**.

**Current Code:**
powershell_out("@(Get-WindowsFeature #{to_array(new_resource.featur

[2018-02-24 02:15] tas50 commented on #507
Looks like this was fixed up recently. Give the latest version a try

[2018-02-24 02:15] #507 closed

[2018-02-24 03:21] nicutor opened #529 "Strange warning appears on kitchen converge after last update (3.5.0)"
### Cookbook version
3.5.0

### Chef-client version
Chef: 13.6.4

### Platform Details
centos-7

### Scenario:
-

### Steps to Reproduce:
Executing kitchen converge

### Expected Result:
No warnings

### Actual Result:
[code]

I guess this warning should not be there at all.
Can you please check?

[2018-02-24 05:18] tas50 commented on #529
@nicutor Can you try 3.5.1. I'm fairly certain I just fixed that by accident.

[2018-02-24 06:25] nicutor commented on #529
@tas50 the warning seems to be gone on 3.5.1

Thank you.

[2018-02-24 06:38] #529 closed

[2018-02-24 06:38] tas50 commented on #529
Good to hear. Thanks for the report

[2018-02-24 06:39] tas50 commented on #487
This has been resolved in the newest releases. Try out the new version and feel free to open this back up if you're still seeing it.

[2018-02-24 06:39] #487 closed

[2018-02-24 06:40] tas50 commented on #516
I think the real solution for this resource is to rewrite it using PS since the full set of options on the share are available there. It would probably be a lot faster as well.

[2018-02-25 05:04] #480 closed

[2018-02-25 05:05] tas50 commented on #480
This should be resolved with the latest cookbook release. Give that a try and feel free to open this back up if you're still having issues

[2018-02-25 05:06] tas50 commented on #479
@david-in-perth Thanks for the report. I'm going to try to get this one resolved next week in a major cleanup of the feature code.

[2018-02-26 19:35] tas50 commented on #498
I've cut a few more things over to InSpec which is part of the fix, but there's still a few to go.

[2018-02-28 02:26] dpbustos commented on #479
I've reproduced this issue too in version 3.5.1. Unable to even install a single feature, given that the string input will be coerced to be an array, and Line 77 still does not support the use of arrays... (Line 69 also looks like it does not support arrays...

I'm currently forcing a depency on version 3.4.4, which does work with single features at a time, given there is no coercing to array for

[2018-02-28 02:35] tas50 commented on #479
Thanks for the update. I'll see what I can do about the arrays. This is all getting cleaned up in preparation for inclusion into Chef 14 so we want to make sure to resolve all these issues.

[2018-02-28 03:23] dpbustos commented on #479
No worries and that's great that these cookbooks will be included in Chef 14. If you need further details about what I've found about array support and support features where the sources are not included in the OS, please let me know.

[2018-03-02 19:02] tas50 commented on #479
This is fixed by https://github.com/chef-cookbooks/windows/pull/530

[2018-03-02 19:02] tas50 commented on #451
This is fixed by https://github.com/chef-cookbooks/windows/pull/530

[2018-03-02 19:05] tas50 commented on #516
I did the first part of the powershell rewrite last night before I realized it was going to take a bit longer. We now create/delete the shares using powershell. The share permission stuff is the hard part and it's going to require a bit of parsing of the PS output along with some logic to determine when we need to use PS to update the perms. I suspect I'll get that working post Chef 14 and then we

[2018-03-02 19:06] tas50 commented on #498
We're now just failing on windows_share stuff, which is known broken. Once that gets resolved we'll be back to green here.

[2018-03-02 19:06] #451 closed

[2018-03-02 19:06] #479 closed

[2018-03-02 19:07] tas50 opened #532 "windows_share is currently broken on Windows 2016"
The legacy way we determine the share state does not work on Windows 2016. We need to migrate this resource entirely to PowerShell which will speed things up and give us greater Windows release compatibility.

[2018-03-09 15:39] s1mark opened #539 "windows_pagefile uses megabytes"
### Cookbook version
4.0.1

### Chef-client version
12.21.31

### Platform Details
Windows Server 2008R2

### Scenario:
Pagefile setting

The pagefile should be declared in megbytes and not in bytes like it is currently described in the documentation of the windows_pagefile resource.

[2018-03-14 03:15] josh-barker opened #540 "Bug installing .Net 3 from source using windows_feature_dism"
### Cookbook version
4.0.1

### Chef-client version
12.22.1

### Platform Details
Windows 2012R2

### Scenario:
I'm trying to install .Net Framework versions 3.5 from source

### Steps to Reproduce:
[code]

### Expected Result:
`NetFx3` is installed

### Actual Result:
It says that its already installed.
[code]

However, `dism /Get-Features /Online /Format:Table /English` shows
[code]

### Other o

[2018-03-19 23:12] perithompson commented on #540
Having the same problem on Server 2016 after upgrading to the latest version. this was working fine on version 3

[2018-03-20 02:32] tas50 commented on #540
Looks like I handled the source scenario correctly in the method that fails if unavailable, but then I missed it entirely when I calculated the list of features to install. I don't actually have a windows system in a state where I can fully test this so I'm hoping that someone can give this code a try to see if it correctly installs removed features when specifying the source.

https://github.com/

[2018-03-20 20:52] Stromweld opened #542 "Can't find dism features in node attributes anymore."
### Cookbook version
4.0.1

### Chef-client version
13.8.5

### Platform Details
Windows 2012r2 and Windows2016

### Scenario:
I'm not seeing the windows features that are installed in the node attributes on chef-server or chef-automate like before when they were cached in ohai

### Steps to Reproduce:
create server with windows cookbook in run list

### Expected Result:
windows features showing u

[2018-03-20 22:03] perithompson commented on #540
@tas50 Tested this on Windows server 2016 and .net 3.5sp1 installs fine with DISM now.

[2018-03-20 22:55] tas50 commented on #540
Perfect. Thanks for checking. I'll get this released right now and I already opened a PR to make sure the version in Chef 14 has this fix.

[2018-03-20 22:55] #540 closed

[2018-03-21 16:13] tas50 commented on #539
I've fixed this on master. Thanks for the report

[2018-03-21 16:13] #539 closed

[2018-03-21 18:39] tas50 commented on #498
PASSING!

[2018-03-21 18:39] #498 closed

[2018-03-26 12:19] mccw opened #545 "windows_feature_powershell features are now case sensitive"
### Cookbook version
4.1.x

### Chef-client version
13.8.5

### Platform Details
Server 2016

### Scenario:
I'm using windows_feature with powershell to install roles and features. Since 4.1.x the step fails with:  RuntimeError: The Windows feature Web-ASP-Net45 is not available on this version of Windows. Run 'Get-WindowsFeature' to see the list of available feature names.

### Steps to Reproduce

[2018-03-26 12:58] jakauppila commented on #545
What is the output of `Get-WindowsFeature`?

[2018-03-26 13:15] mccw commented on #545
That was the first thing I checked. This is after having installed features with version 4.0.2 of the windows cookbook:

https://gist.github.com/mccw/3db5d6b8f928786c10a91128d80c429d

[2018-03-26 13:26] mccw commented on #545
It does appear to be a case issue. I renamed Web-ASP-Net45 to Web-Asp-Net45 and it failed on other services that don't match case. Now that I know how to fix it I can but this wasn't an issue prior to 4.1.0.

[2018-03-26 16:10] tas50 commented on #545
I renamed this issue. I'll see if I can get the case sensitivity fixed. This wasn't an issue before because we didn't really do any input validation and we didn't fail if the feature wasn't there. Now we actually validate that the feature exists so we can properly fail if you typo a feature instead of continuing on. I didn't consider this part of that validation.

[2018-03-26 16:12] jakauppila commented on #545
I would assume DISM is similarly affected?

[2018-03-26 16:21] tas50 commented on #545
It's roughly the same logic so they both probably have the same issue. I think the solution is probably to downcase the available feature name ans the provided names so when we do the array comparisons it all works out. We just have to make sure dism also doesn't care about case on the CLI

[2018-03-26 18:53] mccw commented on #545
Thanks for taking the time to look at this.

 I fixed my issues by matching the Microsoft case. ...which isn't consistent by the way.

[2018-03-26 19:00] tas50 commented on #545
MS is all over the place with the names

[2018-03-26 20:54] s1mark opened #546 "Backward compatible metadata"
### Cookbook version
4.1.1

### Chef-client version
Irrelevant

### Platform Details
Chef Server 11

### Scenario:
Uploading cookbook to old versions of chef-server (11)

### Actual Result:
Chef Server does not understand issue_url and source_url in the metadata

### Possible solution
[code]

[2018-03-27 23:38] amcappelli commented on #545
I saw that 4.1.2 was released to fix this, but when testing with it I am finding that DISM is case-sensitive on Windows 2008 R2, so when the feature is forced to lowercase DISM fails to find it. It does work correctly on Windows 2012 R2.

https://gist.github.com/amcappelli/dcf977ba855b07ecb57db7ddc740945a

[2018-03-29 20:25] binpath opened #547 "windows_feature stop supporting Win2008r2 server"
### Cookbook version
Since 4.1.0 to 4.1.3

### Chef-client version
chef-client 12.21.3 or 13.8.5 is the same result

### Platform Details
Windows2008 R2
### Scenario:
 `windows_feature 'FS-NFS-Services' do
       action :install
       install_method :windows_feature_powershell
  end`

ERROR:
windows_feature_powershell[FS-NFS-Services] (C:/chef/cache/cookbooks/windows/resources/feature.rb line 47)

[2018-03-29 22:45] tas50 commented on #547
So this is a two fold issue:

First we technically don't support Windows 2008 R2 for Chef anymore. We're actively doing our best not to break it, but we don't test for it anymore as mainstream support from Microsoft ended Jan 2015. Yes there's extended support until 2020, and that's why we're doing our best not to entirely break things until 2020. This is pretty similar to what we did with Windows

[2018-03-29 22:45] #547 closed

[2018-03-29 22:46] tas50 commented on #546
This cookbook requires Chef 12.7 or later and Chef 11 hasn't been a supported release of Chef for about a year now. If you need Chef 11 support you'll need to install an older version of this cookbook since none of the resources will run on Chef 11 either.

[2018-03-29 22:46] #546 closed

[2018-03-29 22:47] tas50 commented on #545
I put some logic in the dism side to make sure we don't downcase the features when we're on Windows 2008 R2.

[2018-03-29 22:47] #545 closed

[2018-03-29 22:49] tas50 commented on #542
@Stromweld 4.0 entirely changed up how the caching works. Previously it was done with an ohai plugin that had the side effect of giving users access to the feature data. I looked at porting this ohai plugin into Ohai itself, but since microsoft uses different names for features on dism and powershell it didn't seem to make sense to bring that into core Chef. If you want to continue to have that da

[2018-03-29 22:49] #542 closed

[2018-03-30 00:45] tas50 commented on #547
So I have some code locally that I'll get out tonight, but this will be the error you'll receive on PS < 3.0

[code]

[2018-04-11 18:35] MikeLingenfelter opened #549 "windows_feature powershell install on Windows 2008R2 not installing Feature"
### Cookbook version
4.1.4

### Chef-client version
14.0.190

### Platform Details
Windows 2008 R2 SP1

### Scenario:
When using windows_feature and install_method :windows_feature_powershell, it returns a message "The Windows feature <fearture name> is not available on this version of Windows."  This was tested for severval Features avalible on the server.  If you use install_method :windows_feat

[2018-04-12 13:32] s1mark commented on #546
@tas50  by

you mean chef-client or chef-server?  We have issues uploading to chef-server not with running the chef-client cookbook

[2018-04-12 21:32] tas50 commented on #532
New version works on 2k16 as well

[2018-04-12 21:32] #532 closed

[2018-04-12 21:33] tas50 commented on #516
I've merged in the powershell rewrite. I'm fairly certain there's some edge cases I haven't though out, but considering the state of the previous resource I'm going to ship what I have. It's all powershell, includes a bunch of new properties, and seems to properly handle permissions.

[2018-04-12 21:33] #516 closed

[2018-04-12 21:38] tas50 commented on #517
@Y29nVCt @dpbustos Can you try this with the very latest cookbook. The windows_feature resources have been entirely rewritten which worked out a bunch of edge cases like this.

[2018-04-16 11:03] s1mark commented on #546
@tas50
So by Chef 12.7 you meant chef version on the Chef Wokrstation. After I have updated the ChefDK on the Chef Workstation it uploaded correctly

[2018-04-16 13:30] s1mark commented on #549
I also ran into this issue. The problem is that the https://github.com/chef-cookbooks/windows/blob/c0355531e13fd0758281f3a81198e108ded960d7/resources/feature_powershell.rb#L196
does not populate properly the `raw_list_of_features` object because there is no `InstallState` property in the `Get-WindowsFeature` objects
thus the json object results is:
[code]
Because of the `"InstallState":null` resul

[2018-04-16 19:12] adamfortuno commented on #481
I experience the reported issue when using Import-PfxCertificate. The issue being where a user imports a certificate and private key from a PKCS package (*.pfx), and the certificate appears to have a private key c/o the HasPrivateKey data member, but the PrivateKey data member is null.

[2018-04-17 20:59] mccw opened #550 "windows_share failing with spaces in share name"
### Cookbook version
4.2.0

### Chef-client version
13.8.5

### Platform Details
Windows 10 Server 2016

### Scenario:
windows_share produces an error when there is a space or dash in the share name. I tried replacing the space with a - and received the same error. This does currently work with single name shares and did work prior to the current version 4.1.4

### Steps to Reproduce:
 windows_sha

[2018-04-18 12:09] mccw commented on #550
Good morning,

It looks like we're back in business with 4.2.1. Thank you for the quick
response!!

On Tue, Apr 17, 2018 at 11:19 PM, Tim Smith <notifications@github.com>
wrote:

[2018-04-18 12:19] #550 closed

[2018-04-23 12:36] FireEater64 opened #551 "windows_share broken on server 2008"
### Cookbook version
4.2.1

### Chef-client version
12.18.31

### Platform Details
Server 2008 R2

### Scenario:
Create a fileshare using `windows_share`

### Steps to Reproduce:
Converge the following on Server 2008 R2

[code]

### Expected Result:
'Test' share created

### Actual Result:
Since the `New-SmbShare` cmdlet was only introduced in server 2012, switching `windows_share` to use powershe

[2018-04-24 16:28] tas50 commented on #551
I added better error messaging and a readme note in 4.2.2. The resource really had to go to powershell since the existing WMI based behavior was broken for permissions everywhere and didn't work on Windows 2016. Thanks for the report though. This should have gone out in the initial release.

[2018-04-24 16:28] #551 closed

[2018-05-02 12:28] legal90 opened #553 "NoMethodError: undefined method `win_friendly_path'"
### Cookbook version
4.2.2

### Chef-client version
14.0.202

### Platform Details
Windows 2012R2

### Scenario:
Run list: `['omnibus::default']`, with omnibus cookbook v5.3.3.

[code]

### Steps to Reproduce:
It's easy to reproduce with this TestKitchen suite:
https://github.com/chef-cookbooks/omnibus/blob/aa6c54da7f345c84dafe615077cd280665ea4424/.kitchen.yml#L48

The output is shown above. What

[2018-05-02 18:15] AnishAnil opened #554 "Powershell scripts fails during bootstrap but works post first chef-client run"
I have the below recipe which executes a power shell command:

[code]

The recipe basically downloads a pair.sh file from the internet and stores it in the c:\scripts directory. This is achieved in the first part of the cookbook.

During the bootstrap it is added to the node and post bootstrap it runs the chef-client as part of the botstrap and it fails with the below errors:

[code]

Once the boo

[2018-05-03 05:26] AnishAnil commented on #554
It is the exact same error:

**********
knife winrm -m ec2-13-232-54-174.ap-south-1.compute.amazonaws.com chef-client -x 'Administrator' -P '''password'''
ec2-13-232-54-174.ap-south-1.compute.amazonaws.com       domain nil
ec2-13-232-54-174.ap-south-1.compute.amazonaws.com       user nil
ec2-13-232-54-174.ap-south-1.compute.amazonaws.com     end
ec2-13-232-54-174.ap-south-1.compute.amazonaws.com
e

[2018-05-03 06:47] AnishAnil commented on #554
Further Testing:

On the Node machine create a powershell script file with the following contents:

**********
Write-Host "Hello, World!"
**********
Create a new recipe with the following data

**********
#
# Cookbook:: powershell
# Recipe:: default
#
# Copyright:: 2018, The Authors, All Rights Reserved.
powershell_script 'Install' do
    cwd 'C:\\scripts'
    #code <<-EOH
    command powershell C

[2018-05-07 14:31] legal90 commented on #553
The issue was fixed by https://github.com/chef-cookbooks/windows/pull/555 🎉
Thanks, @scotthain @tas50 !

Looking forward to get this fix released.

[2018-05-07 14:31] #553 closed

[2018-05-07 16:25] tas50 commented on #553
I shipped it as 4.2.3. Thanks for confirming the fix

[2018-05-15 01:10] smastrorocco opened #556 "windows_share resource in cookbook v4.2.2 doesn't handle server platform_version correctly"
### Cookbook version
4.2.2

### Chef-client version
14.1.1

### Platform Details
Windows Server 2012 R2

### Scenario:
Use windows_share resource

### Steps to Reproduce:
Declare a windows_share resource on Windows Server 2012 R2 with cookbook v4.2.2

### Expected Result:
Windows share to be created.

### Actual Result:
Error that resource is only supported on Windows 8/12.

Resource is not consid

[2018-05-15 03:50] tas50 commented on #556
This should be fixed in 4.2.4. Thanks for the report.

[2018-05-15 03:50] #556 closed

[2018-05-15 07:40] sergeydeg commented on #481
Actual problem as I see, is with guard script (at least with Win 2016)
When guard script runs second time behing LocalSystem (Chef configured as Task) it deletes Private Key from  _C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys_
When System.Security.Cryptography.X509Certificates.X509Certificate2 class instantiated it creates temporary PrivateKey container (with actual conatiner name), and deletes

[2018-05-15 21:31] jchodakowski opened #557 "Boostrap fails while installing Nokogiri Gem on first pass"
### Cookbook version
4.2.2

### Chef-client version
13.8.5

### Platform Details
Windows 2012 Standard (not R2)

### Scenario:
Bootstrap with a cookbook that requires the Gem: nokogiri

### Steps to Reproduce:
Only happens on a fresh VM instance with no Chef installed - if the same node is bootstrapped a second time, the error does not occur.

### Expected Result:
Clean run with no errors

### Act

[2018-05-16 16:00] jchodakowski commented on #557
Found the issue through experimentation. The issue seems to be because we have vestigial "require 'nokogiri' outside of the ruby blocks that actually require it. Moving these requires into the correct location addresses the issue. Closing.

[2018-05-16 16:00] #557 closed

[2018-05-23 22:40] ilovemysillybanana commented on #526
Did you ever find a solution for this? I’m currently having this issue as well.

[2018-05-23 22:53] chrisdrobison commented on #526
Sucks, but after scouring the internet, that is only example I was able to find that actually worked in chef.

[2018-05-24 01:00] ilovemysillybanana commented on #481
@sergeydeg
Do you know any way around this?

[2018-05-24 05:49] taliesins commented on #481
@sergeydeg and @ilovemysillybanana have a look at #483 and vote for it. This problem exists in .net 4.61 and below. Powershell leverages .net so the problem bubbles up.

[2018-05-24 12:59] sergeydeg commented on #481
@ilovemysillybanana
I implemented whole PFX import and ACL with true PowerShell. It is not out-of-box usage, and strictly tied to my task. Can share code block, if someone can make this more usable to implement in this cookbook.
My solution only works with Server 2012/ Windows 8 and UP

@taliesins
 a comment to your solution - it not remove the problem with subsequent guard script runs

[2018-05-24 13:23] ilovemysillybanana commented on #481
@sergeydeg I've actually just started working with powershell, but if I could adapt the solution to my own needs I'd be happy to do so and create a pull request after. I'm using windows 2k16 so that would be great.

@taliesins I am new to developing on Windows, my version of windows is using .NET 4.7 shouldn't I be immune from this problem?

[2018-05-24 14:11] sergeydeg commented on #481
@ilovemysillybanana
take a look: [chef pfx import acl](https://pastebin.com/RU5pvHKy)

[2018-05-25 20:10] ilovemysillybanana commented on #481
@sergeydeg will do! I don't know if it matters but I'm doing this through vagrant when I bake my images. If you guys know of anyone who's done it that way, that'd be great to see.

[2018-05-29 20:48] #228 closed

[2018-05-31 19:13] tas50 commented on #549
We can't switch to a installed or not value because that fundamentally breaks functionality on later Windows editions, but I'll see what sort of error handling we could introduce for Windows 2008 R2. It's tough because 2k8r2 is so ridiculously dated at this point even if you install modern .NET / PowerShell.

[2018-06-01 11:12] kmf opened #560 "Feature Request: printer resource should have the ability to set a default paper size"
### Cookbook version
4.2.2

### Platform Details
Windows 10

### Scenario:
would like the ability to set a default paper size when I configure a printer
some thing like
[code]

### Current work around is in PowerShell
[code]
[code]

[2018-06-01 14:56] MikeLingenfelter commented on #549
Thanks for the update.  I get it, we are trying to get off of 2008 as soon as possible.

[2018-06-11 16:00] tas50 commented on #549
This is fixed on master and I'll see if I can get a release out today. The same functionality will also ship in Chef 14.3

[2018-06-11 16:00] #549 closed

[2018-06-12 01:05] ldliy1 opened #561 "Downstream Windows_certificate resource error after 4.3.0"
### Cookbook version
4.3.0

### Chef-client version
14.2.0

### Platform Details
Windows 2012.R2

### Scenario:
Previously with 4.2.5 I was able to import pem file with resource defined below.  But after 4.3.0 change the resource seems to fail with error below

### Steps to Reproduce:
windows_certificate 'c:\\blah\\blah.pem' do
  store_name 'ROOT'
  action :create
end

### Expected Result:
4.2.5 i

[2018-06-12 01:08] tas50 commented on #526
@chrisdrobison Can you give this a try with the latest version of the cookbook? In 4.3.0 we entirely rewrote how certificates work and it would be worth tracking this down within the new codebase if it's still an issue.

[2018-06-12 01:36] ckoenig673 opened #562 "windows_share"
### Cookbook version
[4.3.0]

### Chef-client version
[Chef 13.2.20]

### Platform Details
[Windows 2012. Amazon]

### Scenario:
[Trying to add a share with multiple users in the string array]

### Steps to Reproduce:
[created a share step]
windows_share "share" do
  action :create
  path "C:\\share"
  full_users ["domain\\resource1", "domain\\resource2"]
end

### Expected Result:
[Expecting a sha

[2018-06-12 02:45] tas50 commented on #562
I pushed a fix in 4.3.1 and added a kitchen test for this. Feel free to open this back up if you're still having issues.

[2018-06-12 02:45] #562 closed

[2018-06-12 03:30] ckoenig673 commented on #562
I retested and it is working.  --thanks

[2018-06-12 05:49] s1mark commented on #549
@tas50 sounds and looks great! Thank you for this fix!

[2018-06-15 01:30] chrisdrobison commented on #526
Yeah, I'll try it out next Monday.

[2018-06-15 04:50] ldliy1 commented on #561
Thanks for your feedback @piyushawasthi .  Unfortunately I wont be able to share the PEM file.  But I will try different export formats for the cert... If you are happy to share you PEM file, please do so.  I can try with your file to eliminate that out of the equation.   I will do some more digging in the coming days and post update.  Thanks again.

[2018-06-15 05:17] zl4bv commented on #561
For me, it occurs with certificates in DER format and `.cer` extension. It has started happening with no other changes to how I install certificates.

[2018-06-15 06:27] piyushawasthi commented on #561
Hi @ldliy1 you can match your PEM file with this (https://github.com/chef-cookbooks/windows/blob/master/test/cookbooks/test/files/GlobalSignRootCA.pem) also please make sure your PEM file always start with `-----BEGIN CERTIFICATE-----` and end with `-----END CERTIFICATE-----`.

[2018-06-15 06:34] piyushawasthi commented on #561
@zl4bv will you please update your certificate extension to `.der` and try, after that if you are still facing any issue just let us know.

[2018-06-16 17:12] p0rkjello opened #563 "windows_feature_powershell resource fails on PowerShell 3.0"
### Cookbook version
4.3.2

### Chef-client version
13.9.4

### Platform Details
Windows 2008 R2, PowerShell 3.0

### Scenario:
Install Windows Feature w/ windows_feature_powershell install method

### Steps to Reproduce:
[code]

### Expected Result:
Feature is installed

### Actual Result:
Error executing action `install` on resource 'windows_feature[RDS-RD-Server]'

     RuntimeError
     window

[2018-06-17 10:25] darkn3rd opened #564 "Cannot Load windows libraries due on Chef 14"
### Cookbook version
windows (4.3.2)
### Chef-client version
Chef Client, version 14.2.0
### Platform Details
Windows Server 2016
### Scenario:
* Include cookbook as part of building Windows server with packer.

### Steps to Reproduce:

With `metadata.rb` that has:

[code]
Attempt to do anything to a chef run, such as chef-solo (using this with packer):

[code]

### Expected Result:

I would be ab

[2018-06-19 20:46] DanSibbernsen opened #565 "windows_certificates does nothing within Kitchen"
### Cookbook versions
4.3.2, 3.1.0

### Chef-client version
14.2.0, 12.19.36

### Platform Details
Windows 10 (latest patches)
Windows Server 2016 (latest patches)
Created from Packer via [JacqInTheBox](https://github.com/jacqinthebox/packer-templates.git)
### Scenario:
I run Kitchen converge with the following recipe:
[code]

.kitchen.yml from my windows cookbook:
[code]

Notably: if I pass in th

[2018-06-19 21:40] amcappelli commented on #561
I get this error as well using version 4.3.2 and a PEM format with `.cer` extension, with 4.2.5 it works fine. I tried changing it to `.pem` and that did not help.

PS C:\Users\> gwmi win32_operatingsystem | % caption
Microsoft Windows Server 2016 Datacenter
PS C:\Users\> chef-client -v
Chef: 13.8.5

[2018-06-19 22:13] amcappelli commented on #561
my cert is `sha-256, RSA-4096` whereas the test cert is `sha1, RSA-2048`. Perhaps that is a cause of the difference?

[2018-06-21 14:04] amcappelli commented on #561
Ok I think I figured it out - I found that when I ran chef-client as my user, Windows opened a prompt like in https://social.technet.microsoft.com/Forums/ie/en-US/aac8cfcd-6bd2-423f-895b-a6612459eb16/importcertificate-without-confirmation-ignore-security-warnings?forum=winserverpowershell. When I clicked Yes, chef-client finished successfully. When chef-client is run via a scheduled task as system

[2018-07-02 15:44] ckoenig673 opened #566 "Certificate being installed in the wrong store's environment."
### Cookbook version
[4.3.1]

### Chef-client version
[13.2.20]

### Platform Details
[Windows 2012]

### Scenario:
[When using the windows_certificate package, the certificate is not being added to the local computer store.  It is always being added to the user store]

### Steps to Reproduce:
[windows_certificate "D:/support/pfxfilename.pfx" do
    store_name    "MY"
    pfx_password    "pfxpassw

[2018-07-02 17:01] tas50 commented on #564
windows_package resource is no longer in this version of the cookbook. It looks like you have an old version of the cookbook cached. You should blow away the cookbook dirs.

[2018-07-02 17:01] #564 closed

[2018-07-05 18:16] tas50 commented on #563
Fixed in 4.3.3. Thanks for the report

[2018-07-05 18:16] #563 closed

[2018-07-05 18:17] #517 closed

[2018-07-05 18:17] tas50 commented on #517
Closing this out since we haven't heard back

[2018-07-05 18:18] tas50 commented on #554
I believe this is actually a chef-client issues since powershell_script is part of core chef. You'll want to file this issue here if you're still having the issue: https://github.com/chef/chef/issues/new

[2018-07-05 18:18] #554 closed

[2018-07-09 02:29] darkn3rd commented on #564
I updated with the latest and greatest at the time with this cookbook, which was `4.3.2` and noted in the description.  Closing this out without verification is not professional.

[2018-07-09 14:55] piyushawasthi commented on #565
@DanSibbernsen This is occurred due to we have validation for certificate-store. Now we update the code so if you open any store that not exist and want to add new certificate in that then our code will create new store for you and add new certificate in that. https://github.com/chef/win32-certstore/pull/36

[2018-07-11 15:15] piyushawasthi commented on #566
Hi @ckoenig673 : This issue fixed in PR: https://github.com/chef/win32-certstore/pull/37

[2018-07-11 15:17] piyushawasthi commented on #561
Hi @amcappelli : We have updated the method in PR: https://github.com/chef/win32-certstore/pull/37, Now we can import certificate in ROOT without confirmation popup.

[2018-07-18 21:21] silverl commented on #566
Just hit this myself. Looking forward to the merge/release.

[2018-07-18 22:06] #561 closed

[2018-07-18 22:59] tas50 commented on #565
This should be resolved in the latest version of the cookbook which uses and updated version of our win32-certstore gem. If you're still having this issue after updating the cookbook then please open this back up so we can dig in.

[2018-07-18 22:59] #565 closed

[2018-07-18 22:59] tas50 commented on #526
This should be resolved in the latest version of the cookbook which uses and updated version of our win32-certstore gem. If you're still having this issue after updating the cookbook then please open this back up so we can dig in.

[2018-07-18 22:59] #526 closed

[2018-07-18 23:00] tas50 commented on #297
This should be resolved in the latest version of the cookbook which uses and updated version of our win32-certstore gem. If you're still having this issue after updating the cookbook then please open this back up so we can dig in.

[2018-07-18 23:00] #297 closed

[2018-07-19 15:08] tas50 commented on #566
Still an issue with the latest code

[2018-07-19 19:02] btm commented on #566
@silverl can you confirm what version of the `win32-certstore` gem is on this system?
[code]

It needs to be 0.1.7 which was released yesterday. I'm not sure that the cookbook necessarily would update it, it looks like the `chef_gem` resource in the windows cookbook is using the `:install` action and not the `:upgrade` action.

[2018-07-19 19:31] silverl commented on #566
Hmm, I'm getting an empty list back. I'm using ChefDK so I changed the path to embedded.

[code]

I use Policyfiles, if that makes a difference.

[2018-07-19 21:16] btm commented on #566
@silverl how are you running chef-client? running `chef-client` out of `C:\opscode\chefdk\bin` directly, or using a scheduled task, or using chef-apply, or? Can you share the whole command you're running for clarity?

[2018-07-19 21:19] silverl commented on #566
Yes, running `chef-client` directly, on a new VM after a fresh provisioning using `knife bootstrap windows winrm`.

[2018-07-19 21:23] btm commented on #566
@silverl oh, `knife bootstrap` should be installing the Chef Client on that VM, it's that install of chef-client that we're interested in, not one on your workstation that you're booting with. Can you run `C:\opscode\chef\embedded\bin\gem.bat list win32-certstore` on that system?

[2018-07-19 21:33] silverl commented on #566
Came back with `win32-certstore (0.1.3)`

[2018-07-26 21:08] roylindauer commented on #564
I am also experiencing this issue after upgrading Chef Client from 12 to 14.

I am using the latest version of the Cookbook. I am using Windows cookbook version 5.0.0. This happens using the nginx (8.1.5) cookbook on Ubuntu 14.04.

[code]

[2018-07-26 21:10] tas50 commented on #564
This resource is not present on the latest version of the cookbook so either you're not running the latest cookbook release of you have a cached version of that file. Run berks update if this is in a Test Kitchen setup or if in a production environment confirm you've actually uploaded and are using the new cookbook.

[2018-07-26 21:15] roylindauer commented on #564
I have deleted the cached cookbooks from the node and re-run chef-client. I have run berks update and can confirm that I have uploaded the latest cookbook.

[code]

I have two versions of the cookbook on chef server, 5.0.0 and 4.1.4.

I have also tried to reboot the node with no success.

[2018-07-26 21:32] roylindauer commented on #564
Very bizarre, it looks like version 5.0.0 on my chef server did include the windows_package.rb file...

I deleted the cookbook from chef server, reuploaded, and all is well. Whew

[2018-07-26 21:46] tas50 commented on #564
Berkshelf probably cached it incorrectly and uploaded it with the old files.

[2018-07-30 20:02] amcappelli commented on #561
@piyushawasthi I just tried this using windows@4.3.4 and windows@5.0.0 and I still got the prompt both times

[2018-08-06 14:39] mgeertson opened #569 "OpenSSL::X509::CertificateError - Header Too Long"
Hey everyone,

I've used several versions of Chef Client to see if I can alleviate this issue but it persists throughout each run.  The issue occurs with any Windows cookbook > 4.2.2 (cert delete works as it should on this version).  Any assistance in resolving this would be greatly appreciated.

### Cookbook version
5.0.0

### Chef-client version
14.4.18

### Platform Details
Windows 10 LTSB 1607

[2018-08-08 12:59] piyushawasthi commented on #569
Hi @mgeertson, seems like you are not giving Thumbprint while deleting any certificate Like:
[code]
For help: https://github.com/chef-cookbooks/windows/blob/master/test/cookbooks/test/recipes/certificate.rb#L40

Also we have exception for the same in PR: https://github.com/chef/win32-certstore/pull/41

[2018-08-08 14:04] mgeertson commented on #569
Hi piyushawasthi,

Thank you for the response.  I'm not sure why my initial post did not include my certificate thumbprint but it does exist in my cookbook recipe.  After reviewing your link, I believe that the error is a result of the certificate not existing.  Is there a switch or "not_if" statement available to skip the :delete action if the certificate/thumbprint is non-existent?

[2018-08-13 16:32] #569 closed

[2018-09-06 16:35] DanSibbernsen opened #575 "No "Manage Private Keys" option after importing certificate"
### Cookbook version
5.1.0

### Chef-client version
14.2.0

### Platform Details
Windows Server 2016 - latest updates
### Scenario:
I am trying to use a certificate after it has been installed on my machine. When I run mmc.exe, load the 'Certificates' snap-in, select the "Computer Account" and right-click on the certificate, there is no "Manage Private Keys" under "All Tasks." When I push the same

[2018-09-06 17:28] tas50 commented on #566
This will be fixed by the new version of the Windows cookbook that ships today.

[2018-09-06 17:28] #566 closed

[2018-09-06 17:29] tas50 opened #576 "windows_certificate resource is not idempotent"
We need to update this resource to be fully idempotent by using converge_by blocks. This will allow the resources to properly update when action needs to be taken and will allow users to utilize notifications when these resources update.

[2018-09-22 22:11] munusamy opened #577 "Cannot find a resource for windows_feature_dism on windows version 6.1.7601"
### Cookbook version
[5.1.1]

### Chef-client version
[13.9.1]

### Platform Details
[Windows 2008 R2 DataCenter and 6.1.7601. AWS]

### Scenario:
[Install IIS features]

### Steps to Reproduce:
[just execute the recipe `chef-client -r iis`]

### Expected Result:
[It should install IIS-WebServerRole and start W3SVC]

### Actual Result:
[code]

[2018-10-02 20:07] rurku opened #578 "windows_certificate action :delete fails if certificate is not found"
### Cookbook version
5.1.1

### Chef-client version
14.3.37

### Platform Details
Windows Server 2012 R2 Standard

### Scenario:
I am trying to use the `:delete` action on `windows_certificate` to ensure that a certificate identified by its thumbprint is not present in the certificate store.

### Steps to Reproduce:
[code]

### Expected Result:
I expect the resource to remove the certificate if it

[2018-10-09 18:38] axelrtgs commented on #459
I think i may have found a work around to this issue, i just encountered it and after much work to try and fix it i have found that changing the section here: https://github.com/chef-cookbooks/windows/blob/master/resources/zipfile.rb#L54  to the following block fixes the issue.

[code]

It would seem that some archives are created with folders that are treated as files and rubyzip tries to extract

[2018-10-09 20:15] jburns24 opened #580 "Unable to bind pfx certificate when cert that was added via windows_certificate"
### Cookbook version
 5.1.2

### Chef-client version
14.5
### Platform Details
Windows Server 2012 R2

### Scenario:
Sorry bare with me I am new to certificates in general, and pretty green on chef. This is my understanding of the issue through reading and googling.

I am working on upgrading out chef cookbooks. We are moving from windows 4.1.0 and I wanted to go to the latest version 5.1.2. After

[2018-10-15 19:36] chadmccune opened #582 "Passwords with special characters don't get escaped for powershell commands"
### Cookbook version
5.1.3

### Chef-client version
14.5.33

### Platform Details
Windows Server 2k16

### Scenario:
If pfx password contains special characters like $ or \, they are not escaped and the resource fails with an error message that is not accurate of the true problem: "ArgumentError: invalid byte sequence in UTF-8"

### Steps to Reproduce:
Create a pfx with a password containing $

##

[2018-10-16 13:59] mccw opened #583 "undefined method `win_friendly_path' for #<#<Class:0x0000000004220908>:0x0000000007eb5cd8>"
### Cookbook version
5.1.3

### Chef-client version
14.5.33

### Platform Details
System Info:
chef_version=14.5.33
platform=windows
platform_version=10.0.14393
ruby=ruby 2.5.1p57 (2018-03-29 revision 63029) [x64-mingw32]
program_name=C:/opscode/chef/bin/chef-client
executable=C:/opscode/chef/bin/chef-client

### Scenario:
trying to acl_add an existing certificate.

### Steps to Reproduce:
windows

[2018-10-16 18:33] svmastersamurai commented on #577
We ran into this same error when upgrading our cookbook to 5.1.1 and upgrading to 5.1.3 fixed it for us. Looks like there was a typo that is fixed in newer versions.

[2018-10-17 19:36] jugatsu commented on #577
It was fixed in https://github.com/chef-cookbooks/windows/pull/579

[2018-10-17 19:44] jugatsu commented on #583
https://github.com/chef-cookbooks/windows/commit/35baf2085fb6a5f2e7977d5bbf203f14860c6a56 breaks `windows_certificate` resource.

[2018-10-18 09:20] Xorima opened #584 "Set Powershell to allow tls 1.2 by default"
### Cookbook version
5.1.3

### Chef-client version
N/A

### Platform Details
Windows 10, Windows 2016

### Scenario:
Run a Powershell script to hit a tls 1.2 endpoint, powershell fails to connect

### Steps to Reproduce:
Run a powershell command to connect to a tls 1.2 website

### Expected Result:
Connects fine

### Actual Result:
Fails due to ciphers

### Suggestion:

To fix this issue the regi

[2018-11-12 15:34] lewisgaines commented on #580
I am also experiencing the same issue with a nearly identical setup.

[2018-11-12 15:41] lewisgaines commented on #575
Commenting for visibility. This issue started with the change to start using the win32_certificate ruby gem in version 4.3.0. Another related issue with a bit mroe detail is https://github.com/chef-cookbooks/windows/issues/580.

[2018-11-16 20:49] mxmxx commented on #459
Just encountered this attempting to use `windows_zipfile` with the 6.4.2 Metricbeat package from Elastic. Workaround was to use `powershell_script` resource instead. This was a head-scratcher b/c interestingly enough, the `6.3.2` package worked fine with `windows_zipfile`; assuming they changed their compression process between then and `6.4.2`.

Windows cookbook: 5.1.5

[2018-11-20 00:51] tas50 commented on #583
This was fixed by https://github.com/chef-cookbooks/windows/pull/589 and that was released in 5.1.6

[2018-11-20 00:51] #583 closed

[2018-11-20 00:51] #577 closed

[2018-11-20 00:51] tas50 commented on #577
Closing this out since it looks like we fixed it

[2018-12-03 11:55] dheerajd-msys commented on #582
Hi @chadmccune,
`pfx_password` property doesn't allow non-English OR any special characters to be included in the certificate.

Please check : https://social.msdn.microsoft.com/Forums/en-US/0c509e19-7c5f-4f6f-8b74-8191c3c8bd02/unable-to-import-pfx-certificate-in-automation?forum=azureautomation

Also I've check it manually :
[code]
So we are working on to send proper validation message for same.

[2018-12-06 05:17] dheerajd-msys commented on #582
HI @chadmccune,
Please ignore my above comments. I've fixed the issue in PRs attached to this issue.

Thanks

[2018-12-12 14:30] Xorima commented on #578
I am also having this issue, appears to relate to an issue with the ruby gem and it's searching of the store:
https://github.com/chef/win32-certstore/blob/master/lib/win32/certstore/store_base.rb#L100

[2018-12-14 09:27] xorima opened #599 "Windows Certificate -> Does not store private key"
### Cookbook version
5.2.2

### Chef-client version
13.9.4

### Platform Details
Server 2016

### Scenario:
Install certificate with private key

### Steps to Reproduce:
Try to install a certificate with a private key:

[code]

### Expected Result:
certificate and private key is installed and is visible in mmc for local computer

### Actual Result:
Certificate is installed but private key is not.

[2018-12-20 07:09] #578 closed

[2019-01-04 15:38] #576 closed

[2019-01-13 18:37] Xorima commented on #584
From slack chat:

for the sake of two registry keys it looks a bit overkill but maybe something like this... (can't think of a decent use for the name_property) - fundamentally you're configuring schannel so....
[code]

[2019-01-28 15:03] SteveLowe commented on #599
We're seeing the same problem, it looks like when the certificate resource was re-written to pull it into chef (7304dcb), it lost the ability to import private keys.

This worked fine for us with chef client 14.2.0 and windows cookbook 4.1.4
It doesn't work with chef-client 14.8.2 and windows cookbook 5.2.2

I will log a bug in https://github.com/chef/chef as that is where windows_certificate has

[2019-01-28 17:05] Xorima commented on #599
It is currently in both I am seeing, also have opened up a PR here with all the tests which should cover everyones use cases? https://github.com/chef-cookbooks/windows/pull/600

[2019-01-29 19:28] #599 closed, assigned to nobody

[2019-01-31 14:02] cosmincucu opened #606 "windows_zipfile throws Errno::ENOENT for file with $ in the name"
### Cookbook version
5.2.2

### Chef-client version
14.5.33

### Platform Details
windows server 2016 standard

### Scenario:
using the windows cookbook to unzip an app folder.

### Steps to Reproduce:
using the windows cookbook to unzip an app folder. There are quite a lot of folders in the zip, and some of the files have the $ symbol in them.
### Expected Result:
i'd expect the unzip to finish s

[2019-03-06 22:47] tas50 commented on #575
This will be resolved in the new release I'm about to push and is also fixed in Chef 14.11

[2019-03-06 22:47] #575 closed

[2019-03-06 22:48] tas50 commented on #580
This will be resolved in the new release I'm about to push and is also fixed in Chef 14.11

[2019-03-06 22:48] #580 closed

[2019-06-03 13:37] dalee-bis opened #612 "windows_share: Add option for FolderEnumerationMode"
### Describe the Enhancement:

Enable Access Based Enumeration Mode on a windows share.

### Describe the Need:

Businesses using shares accessible by multiple clients/teams who should not have knowledge of other clients.

### Current Alternative

Implement via PowerShell:

[code]

### Can We Help You Implement This?:

Not easily (I'm fairly new to Ruby + Chef)

[2019-06-14 23:14] davidhullster opened #613 "Recipe Compile Failure in version.rb "wrong argument type Hash (expected String)""
+---------------------------------------------+
[32mâœ”[0m 2 product licenses accepted.
+---------------------------------------------+
Starting Chef Infra Client, version 15.0.300[0m
resolving cookbooks for run list: ["cygwin::default", "mfb-build-slave"][0m
Synchronizing Cookbooks:[0m
  - cygwin (0.7.0)[0m
  - mfb-build-slave (0.0.1)[0m
  - windows (5.2.2)[0m
  - build-essential (8.2.1)

[2019-06-15 06:26] Xorima commented on #613
Hey,

Have you tried the latest version of windows? 6.0.0

[2019-08-03 00:13] ngeegoh opened #614 "windows_certificate_binding does not bind ssl certificate to the default web site"
### Cookbook version
windows (5.3.1)
### Chef-client version
Chef Workstation version: 0.5.1
Chef Infra Client version: 15.1.36
Chef InSpec version: 4.6.9
Test Kitchen version: 2.2.5
Foodcritic version: 16.1.1
Cookstyle version: 5.0.0
Chef Infra Client version: 15.1.36

### Platform Details
Chef Solo in Windows 2016 Datacentre

### Scenario:
I got this code in my recipe, when I ran it, it did not

[2019-09-03 20:47] btm opened #615 "Deprecate windows_zipfile in favor of archive_file"
Chef Infra Client now has [archive_file](https://docs.chef.io/resource_archive_file.html) built in as of Chef 15.0. We should deprecate `windows_zipfile` in favor of `archive_file` with a warning that `windows_zipfile` will be removed in the future.

[2019-09-30 11:47] Xorima commented on #511
Why not just use ACLs to allow the other user to access the  key from the machine level store?

[2019-09-30 17:11] mcascone commented on #564
My problem was in `.../AppData/Local/Temp/kitchen/cache/cookbooks/windows/libraries/version.rb`. Running the `berks update` as mentioned above resolved the issue. It updated my cached windows cookbook from 5.1.1 to 6.0.

[2019-10-03 07:05] shindemahendra commented on #615
#617 is closed. Please close this issue.

[2019-10-03 07:23] #615 closed

[2019-12-27 01:07] splatteredbits commented on #247
Yes. Please add.

[2019-12-29 19:20] #247 closed

[2020-01-21 18:15] #584 closed

[2020-01-28 05:29] anil1890 opened #621 "SSL Certificate add failed, Error: 1312 A specified logon session does not exist. It may already have been terminated"
Getting error
"SSL Certificate add failed, Error: 1312 A specified logon session does not exist. It may already have been terminated"

windows_certificate "C:/tmp/cert/certpfx.pfx" do
  pfx_password "12345"
  user_store false
end
windows_certificate_binding 'Binding' do
  action :create
  name 'CN=www.demo.com'
  name_kind :subject
  store_name "MY"
  port 443
  address '0.0.0.0'
end

After googli

[2020-03-03 11:07] xorima opened #622 "Windows Certificate installs certs in wrong place for PFX"
### Cookbook version
6.0.1

### Chef-client version
14

### Platform Details
Windows 2016

### Scenario:
Install a PFX certificate with key into LocalMachine\\My

### Steps to Reproduce:

[code]

### Expected Result:
Only the PFX certificate is installed in the 'My' store

### Actual Result:
The PFX certificate with all bundled certificates are installed into the 'My' Store.

[2020-03-03 17:17] tas50 commented on #622
@Xorima If you can reproduce this on 15.8 I'll move this into the chef/chef repo and we can work it there.

[2020-03-11 11:11] Xorima commented on #622
Hey @tas50

Validated as same behaviour on latest chef 15.

I think ideally this should be a flag to give people the option of doing this ...

Thanks

[2020-03-18 23:20] btm opened #623 "Remove windows_share and windows_certificate resources"
https://github.com/chef-cookbooks/windows#deprecated-resources-note

We moved `windows_share` and `windows_certificate` into core for Chef 14.7. We had announced we would remove those from this cookbook late last year but didn't get to it. Let's remove them now and ship a v7 of this cookbook.

Chef 14 will be EOL in 6 weeks. Probably we  should bump the minimum version of Chef to 15 too.

This als

[2020-03-19 12:44] Xorima commented on #623
Note: Remember to remove the deprecated path helper when a v7 is released.

[2020-03-26 15:29] #623 closed

[2020-03-31 09:08] Paxa opened #625 "cannot load such file -- chef/mixin/powershell_out"
### Cookbook version

7.0

### Chef-client version
12.0.0

### Platform Details
Ubuntu

### Scenario:
We run deployment and `windows` cookbook broke it

[code]

With pervious release it was working well
I expect it should do nothing when OS is not windows...

[2020-04-14 23:38] tas50 commented on #625
Version 7.0 of this cookbook requires Chef Infra Client 14.7 or later. Version 12.0.0 was released December 05, 2014 and is no longer supported.

[2020-04-14 23:38] #625 closed

[2020-04-14 23:39] tas50 commented on #613
@davidhullster You probably want to upgrade to the latest version of this cookbook if you're on Chef 15. The version you're running is pretty old. Many of those resources have been merged into the client itself.

[2020-04-14 23:39] #613 closed

[2020-04-14 23:40] tas50 commented on #612
@dalee-bis We've moved the windows_share functionality into Chef Infra Client itself and stopped development of this cookbook. I'm going to close this issue out at this point. If you're still interested in this feature please open an issue at https://github.com/chef/chef so we can work on it there.

[2020-04-14 23:40] #612 closed

[2020-04-14 23:41] tas50 commented on #560
@kmf Now that this resource is in Chef Infra Client itself we're not going to be further expanding upon it here. I think there's a lot we could do with the printer resources to make them more usable and this is a great example. Can you file this issue in the chef/chef repo please?

[2020-04-14 23:41] #560 closed

[2020-04-16 06:38] kmf commented on #560
Done.

@tas50 https://github.com/chef/chef/issues/9674

[2020-04-16 18:08] tas50 commented on #560
Thanks @kmf

[2020-09-11 02:16] jeremyciak opened #637 "Resource "user_privilege" No Longer Supports Previous Implementation"
I never adopted the native Chef `user_privilege` and continued to use this cookbook because I had a very simple implementation that worked with this cookbook's `user_privilege` resource but did not work with the Chef resource:

[code]

This very simple and straightforward implementation set these two privileges just fine with the `user_privilege` resource from this cookbook previously, until a rec

[2020-09-11 02:19] jeremyciak commented on #637
@tas50 It seems you made the commits that have broken this for me. Please help!

[2020-09-18 21:17] ValkyrieOps commented on #459
Confirming this issue still exists with Elastic beats package on Server 2019/Win10

[2021-04-29 23:31] sean-horn commented on #526
The identical issue happens when using `windows_certificate` from Chef Client 15.4.45 and 16.1.16 with no windows cookbook in the runlist.

I have two certs that have imported seemingly successfully. They can be viewed in windows tools.

* One test PFX cert produced from the private windows root CA of a customer. This one ships with the full chain. After import, the private keys cannot be managed,

[2022-06-22 17:02] jchristn commented on #621
Sorry to necro an old issue, but I put this together for someone that had the dreaded 1312 issue.  TLDR, generate your CSR using OpenSSL, use that to get your cert, then use OpenSSL to merge in your private key and convert to PFX, then install the PFX file.

https://github.com/jchristn/WatsonWebserver/blob/master/Documentation/OpenSSLCertificates.md